h2{color:blue;

}
body{background-color: orchid ;
    color: chartreuse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;


}
<header>{ border-bottom: 1px solid brown;

}
footer{border-top: black 20px color(prophoto-rgb red green blue);


}
#nome-usuário {
    font-weight: bold;
}
.texto-inglês{
    font-style: italic;
}